<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="/signup" method="POST">
        <input type="text" name="fullname" placeholder="FullName"><br><br>
        <input type="text" name="email" placeholder="Email"><br><br>
        <input type="text" name="mobilenumber" placeholder="Mobile Number"><br><br>
        <input type="text" name="address" placeholder="address"><br><br>
        <input type="text" name="landmark" placeholder="Landmark"><br><br>
        <input type="text" name="pincode" placeholder="Pincode"><br><br>
        <input type="text" name="town" placeholder="Town"><br><br>
        <input type="text" name="state" placeholder="State"><br><br>
        <button type="submit">Submit</button>
       </form>
</body>
</html>